<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{comment_text}}
        </div>
        <div class="text">
            
            By {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>