
    {{#each this}}
    <div class="post">
    <section class="comment mb-3 p-3">
        <div class="meta">
            {{comment_text}}
        </div>
        <div class="text">
            
            By {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    </div>
    {{/each}}
