<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game On</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  <div class="container-fluid">
    <header class="navbar d-flex p-3">
      <h1 class="header-img"><a class="nav-link" href="/homepage"><img src="/images/ggcbear.jpg" alt="Game On!"></a></h1> 
      <nav>
        <button type="button" class="btn btn-outline-light" data-toggle="dropdown" aria-expanded="false" data-offset="10,20">Log in</button>
        <form class="login-form dropdown-menu dropdown-menu-right p-2">
          <div class="form-group">
            <label for="exampleDropdownFormEmail2">Email address</label>
            <input type="email" class="form-control" id="email-login" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword2">Password</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck3">
              <label class="form-check-label" for="dropdownCheck2">
                Remember me
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-light">Log in</button>
        </form>

        <a href="/register"><button class="btn btn-outline-light">Register</button></a>

      </nav>
    </header>
    <div class="navbar d-flex">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a href="/forums" class="nav-link">Forums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/livechat">Live Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/policy">Guidelines</a>
            </li>
        </ul>
    </div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <p class="footer">copyright &copy;2021 <a href="#">Game On!</a> For sports fans created by sports fans</p>
    </footer>
  </div>
  

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
{{!-- <script src="/javascript/login.js"></script> --}}
</body>

</html>