<div class="row forums mt-3 justify-content-center">
  <div class="col-6 text-center">
    <section class="create-post justify-content-center">
      {{!-- <h2 class="h3 ml-3">Create New Post</h2> --}}

      <form class="new-post-form">
        <div class="m-3">
          <label for="post-title"></label>
          <input type="text" class="form-control" placeholder="Title" id="post-title" name="post-title" />
        </div>
        <div class="m-3">
          <label for="post-url"></label>
          <textarea class="form-control" id="post-url" placeholder="Description" rows="9" name="post-content"></textarea>
        </div>
        <div class="m-3">
          <button type="submit" class="btn btn-outline-light mt-3 mb-3">Add Thread</button>
        </div>
      </form>
    </section>
  </div>
</div>

<script src="/javascript/add-post.js"></script>