<h1>Home</h1>
<form class="home">
    <div class="home-header">
        <h1 class="home-header-content">Welcome to Game On</h1>
    </div>
    <div class="home-body">
        <div class="home-body-container">
            <div class="container-wrapper">
                <h2 class="header-wrapper">News</h2>
            </div>
            <div class="container-body">
                <div class="body-node">
                    <h3 class="node-title">
                        <a class="nav-link" href="policy.handlebars">Community Guidelines</a>
                    </h3>
                    <h4>Make sure you are up to date on all the community guidelines to avoid getting banned.</h4>
                </div>
                <div class="body-node">
                    <h3 class="node-title">[insert newest comment here]</h3>
                </div>
                <div class="body-node">
                    <h3 class="node-title">
                        <a class="nav-link" href="register.handlebars">Register</a>
                    </h3>
                    <h4>Do you have an account? If not Click here and get yourself set up today.</h4>
                </div>
            </div>     
        </div>

        <div class="home-body-container">
            <div class="container-wrapper">
                <h2 class="header-wrapper">Sports Forums</h2>
            </div>
            <div class="container-body">
                <div class="body-node">
                    <h3 class="node-title">
                        <a class="nav-link" href="#">Forums</a>
                    </h3>
                    <h4>Come chat with other sports fans about sports things!</h4>
                </div>
                <div class="body-node">
                    <h3 class="node-title">
                        <a class="nav-link" href="#">Hockey</a>
                    </h3>
                    <h4>The latest in Hockey events</h4>
                </div>
            </div>
            <div class="body-node">
                    <h3 class="node-title">
                        <a class="nav-link" href="#">Baseball</a>
                    </h3>
                    <h4>The latest in Baseball events</h4>
                </div>
                <div class="body-node">
                    <h3 class="node-title">
                        <a class="nav-link" href="#">Basketball</a>
                    </h3>
                    <h4>The latest in Basketball events</h4>
                </div>
                <div class="body-node">
                    <h3 class="node-title">
                        <a class="nav-link" href="#">Football</a>
                    </h3>
                    <h4>The latest in Football events</h4>
                </div>
        </div>
    </div>
</form>
