<form class="login-form1">
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> Live Chat</h1>
			</header>
	<main class="join-main">
	    <form action="chat.html">
            <span class="title-info"> Chat info:</span>
			    <div class="chat-messages">
					<div class="message">
						<ul class="list-color" id="ul1"></ul>
					</div>		
                </div>
            <span class="title-info"> Server log info:</span>
                <div class="chat-messages">
                    <ul class="list-color" id="ul20"></ul>
					<li id="disconect"></li>
                </div>
 				    <div class = "login-password">
    				    <label for="mesage1">Message</label>
    				    <input placeholder="Enter Message" required autocomplete="off" type="text" id="message1">
  				    </div>
					    <button type="submit" class="btn">Send Text</button> 
	    </form>
    </main>
</form>
<script defer src="/javascript/app.js"></script>
 

 
