<link rel="stylesheet" href="/stylesheets/stylelive.css">
<link rel="stylesheet" href="/stylesheets/migstyle.css">

<div class="container">
	<div class="match">
		<div class="match-header">
			<div class="match-status">Live: Q4 0:50</div>
			<div class="btn-icon" id=""><i class="material-icons-outlined"></i></div>
			<div class="match-actions">
				<div class="btn-icon" id="arena"><i class="material-icons-outlined"></i></div>
			</div>
		</div>
		<div class="match-content">
			<div class="column">
				<div class="team team--home">
					<div class="team-logo">
						<img id="awaylogo" src=""/>
					</div>
					<h2 class="team-name" id="away"></h2>
                    <p class="team-record" id="homer">4-4</p>
				</div>
			</div>
			<div class="column">
				<div class="match-details">
					<div class="match-date">
						19 Nov at <strong>17:30</strong>
					</div>
					<div class="match-score">
						<span class="match-score-number match-score-number--leading">82</span>
						<span class="match-score-divider">:</span>
						<span class="match-score-number">97</span>
					</div>
					<div class="match-time-lapsed" id="">
						
					</div>
					<div class="match-referee">
						<div id="officials"></div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="team team--away">
					<div class="team-logo">
						<img id="homelogo" src=""/>
					</div>
					<h2 class="team-name" id="home"></h2>
                    <p class="team-record" id="homer"> 7-2</p>
				</div>
			</div>
		</div>
		      <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/XZRalxlW4UQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<form class="login-form1">
        <div class="join-container">
            <header class="join-header">
                <h1><i class="fas fa-smile"></i> Live Chat</h1>
            </header>
    <main class="join-main">
        <form action="chat.html">
            <span class="title-info"> Chat info:</span>
                <div class="chat-messages">
                    <div class="message">
                        <ul class="list-color" id="ul1"></ul>
                    </div>
                </div>
            <span class="title-info"> Server log info:</span>
                <div class="chat-messages">
                    <ul class="list-color" id="ul20"></ul>
					 <li id="disconect"></li>
                </div>
                     <div class = "login-password">
                        <label for="mesage1">Message</label>
                        <input placeholder="Enter Message" required autocomplete="off" type="text" id="message1">
                      </div>
                        <button type="submit" class="btn">Send Text</button> 
        </form>
    </main>
</form>
	</div>
</div>
 
{{!-- Use this to replace hardcoded data after presentation
<p class="scoreboard" id="awaypoints"></p>
<p class="scoreboard" id="homepoints"></p>
<p class="scoreboard" id="duration"></p>
<p class="scoreboard" id="period"></p> --}}
{{!-- <p class="scoreboard" id="away"></p>
<p class="scoreboard" id="officals"></p> --}}

<script src="/javascript/login.js"></script>
<script src="/javascript/live.js"></script>
<script defer src="/javascript/app.js"></script>










