<div class="policy">
    <h1> Community Guidelines </h1>
    <p> Hello and welcome the the Game ON! community. This is a sports website where our goal is to create a safe and enjoyable enviroment for people. Please take sometime and view our community guidelines below! </p>
    <div class="content">
    <ol>
        <li>
            Be Civil and respectful. There are obvious reasons why we don't allow people to personally insult others, and doing so will get you banned. It makes everyone feel a little less welcome. Note: this rule applies to messages in modmail, as well.
        </li>
        <li>
            No trolling or baiting users. Do not post or comment with the purpose of trolling or inciting reactions from other users. This will lead to a ban. Don't be offensive just to be offensive.
        </li>
        <li>
            No racist, sexist, or homophobic language.This is an automatic ban. We want everyone no matter their age, gender, sexual preferences, or race to feel welcome in this subreddit. This includes jokes or quotes that include such language.
        </li>
        <li>
            No reposts. Please check the new queue before posting. Make sure the content you are posting has not already been submitted by another user.
        </li>
        <li>
            No fake news. Any blatant attempt to grab attention or troll with a fake news headline will result in a permanent ban. Make sure your news comes from a reputable source.
        </li>
        <li>
            No self-promotion. 
            <ul>
                <li>
                    Promoting or linking to your youtube channel, site, blog, etc.
                </li>
                <li>
                    Promoting or linking to your design website, fan art, logo or court redesigns, etc
                </li>
                <li>
                    Trying to sell merchandise (t-shirts, jerseys, artwork, etc)
                </li>
            </ul>
            There's a big difference between people that are trying to use our subreddit for their own personal gain and people that are just trying to share something with the community.
        </li>
        <li>
            No NSFW content. NSFW content will be removed and violators will be banned.
        </li>
    </ol>
    </div>
</div>